server:
  port: 8080
#    servlet:
#      context-path: /api
spring:
  data:
    rest:
      base-path: /api
#logging:
#  level: DEBUG
---

spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5434/yam
    username: postgres
    password: postgres
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        # Hibernate ddl auto (create, create-drop, validate, update)
        ddl-auto: update
