/*Registration*/

.main-header {
    top: 0;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: black;
    position: fixed;
    z-index: 10;
}

body {
    display: flex;
    margin: 0px;
    flex-direction: column;
    background: #ededed;

}

.crop{
    float:left;
    margin:.5em 10px .5em 0;
    overflow:hidden;
    position: relative;
    width:60px;
    height:25px;
}

.crop-profile{
    float:left;
    margin:.5em 10px .5em 0;
    overflow:hidden;
    position:absolute;
    width:60px;
    height:25px;
}

.stars{
    position:absolute;
    height: 25px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.book-profile-crop{
    float:left;
    margin:.5em 10px .5em 0;
    overflow:hidden;
    position:relative;
    width:100px;
    height:42px;
}

.book-profile-stars{
    position:absolute;
    width: 100px;
    height: 42px;
}

.mycontainer {
    display: flex;
    flex-grow: 1;
}

.inner-container {
    text-align: center;
    display: table;
    background: #fff;
    border: 1px solid #d8dee2;
    margin: 10% auto 0;
    border-radius: 10px;
    padding: 20px;
}

.table-center {
    margin: auto;
}

.table-background-color {
    background: #fff;
}

.button-center {
    color: black;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
}

.main-footer {
    background-color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

/*bookAdd*/

.center {
    text-align: center;
    padding: 10px;
}

/*submit*/

.button-bookAdd {
    color: black;
    height: 25px;
    margin-top: 10px;
    border-radius: 3px;
}

.sign{
    float: right;
    margin-top: 10px;
    margin-right: 20px
}

.sign-in{
    color: white;
    margin-right: 10px
}

.sign-up{
    color: white;
}

.bookslist{
    border: 1px solid #aeaeae;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 20px 50px
}



.genrelist{
    border-radius: 2px;
    padding: 15px 25px;
    margin-top: 50px;
    width: 225px;
}

.profile-img{
    padding-left: 10px;
    width: 50px;
    height: 50px;
}

.mid-img{
    margin-top: 10%;
    margin-left: 30%;
    width: 250px;
    height:250px;
}

.block {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}



/* Конструкция :not(:checked) работает как фильтр, чтобы браузеры, которые не поддерживают псевдокласс :checked не применяли эти свойства. Все браузеры, поддерживающие псевдокласс :checked, поддерживают и псевдокласс :not(), так что фильтр должен отработать правильно. */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: "\2605";
    
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.input-text {
    border: 1px solid #dedede;
    background-color: transparent;
    padding:14px 10px;
    width: 800px;
    height: 200px;
    font-size: 20px;
    color: #333333;
}