<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header" class="main-header">
    <div class="sign">
        <a class="sign-in" href="/login">Sign In</a>
        <a class="sign-up" href="/registration"> Sign Up</a>
    </div>
    <img src="E:\project]\YaM\src\main\resources\books.png" alt="альтернативный текст">

</header>

<div th:fragment="container" class="container">
    <div class="inner-container">
    </div>

</div>
<footer th:fragment="footer" class="main-footer">

</footer>
</body>
</html>