<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">
</head>
<body class="display-flex">
<header th:replace="base :: header">
</header>
<div class="center">
    <h1>Create Book</h1>
    <form action="/bookById" th:object="${book}"  method="POST" enctype="utf8">
        <table class="table-center" >
            <colgroup>
                <col span="2" class="table-background-color">
            </colgroup>

            <tr>
                <td>NAME</td>
                <td><input type="text" th:field="*{name}" id="name" name="name"/></td>
            </tr>
            <tr>
                <td>Author</td>
                <td><input type="text" th:field="*{author}" id="Author" name="Author"/></td>
            </tr>
        </table>
        <button class="button-center" type="submit">Finish</button>
    </form>
</div>
  
<footer th:replace="base :: footer">
</footer>

</body>
</html>