<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">

    <meta charset="UTF-8">
    <title>Spring Book</title>

</head>
<body class="body">

<header th:replace="base :: header"></header>
<div class="container" style="background: white ; flex-grow: 1;padding-top: 70px">
    <div class="row">
        <div class="col-sm-3" style="display: flex;flex-direction: column;align-items: center">

            <img th:src="${book.getImage()}" style="width: 140px; height: 210px">
            <div th:text="${book.getAuthor()}"/>

            <div th:if="${!user}">
                <div style="    font: bold 20pt Arial;
    color: #0066ff;
    text-align: center;
    padding-top: 30px;" th:text="@{${book.getFormatRating()}+'/10.0 (' + ${book.getCountRating()}+ ')'}"></div>
            </div>

            <form th:if="${!user}" th:action="@{'/books/' + ${book.getId()}}" th:method="PATCH">
                <div class="rating">
                    <input type="radio" th:id="'star1'+${book.getId()}" name="rating" value="10"
                           th:checked="${book.getRating() > 9}?'checked'"/><label th:for="'star1'+${book.getId()}"
                                                                                  title="Sucks big time"></label>
                    <input type="radio" th:id="'star2'+${book.getId()}" name="rating" value="8"
                           th:checked="${book.getRating() > 7 && book.getRating() <= 9}?'checked'"/><label
                        th:for="'star2'+${book.getId()}" title="Kinda bad"></label>
                    <input type="radio" th:id="'star3'+${book.getId()}" name="rating" value="6"
                           th:checked="${book.getRating() > 5 && book.getRating() <= 7}?'checked'"/><label
                        th:for="'star3'+${book.getId()}" title="Meh"></label>
                    <input type="radio" th:id="'star4'+${book.getId()}" name="rating" value="4"
                           th:checked="${book.getRating() > 2 && book.getRating() <= 5}?'checked'"/><label
                        th:for="'star4'+${book.getId()}" title="Pretty good"></label>
                    <input type="radio" th:id="'star5'+${book.getId()}" name="rating" value="2"
                           th:checked="${book.getRating() <= 2}?'checked'"/><label th:for="'star5'+${book.getId()}"
                                                                                   title="Rocks!"></label>
                </div>
            </form>

            <h6 style="margin-top: 25px">Дата видання:</h6>
            <p th:text="${book.getDate()}"/>
        </div>
        <div class="col-sm-9">
            <h2 style="text-align: center" th:text="${book.getName()}"/>
            <p th:text="${book.getDescription()}"/>
            <br>
            <p th:text="'Dowloader, ' + ${book.getDownloader().getUsername()} + '!'"/>
            <div style="  display: flex;
  align-items: center;
  justify-content: center;">

                <form th:action="@{'/books/' + ${book.getId()}}" method="POST">
                    <h1>Залиште коментар</h1>


                    <div class="center">
                        <textarea class="input-text" placeholder="Comment..." id="comment" name="comment"></textarea>
                    </div>

                    <div class="center">
                        <button class="btn btn-primary btn-lg" type="submit">Коментувати</button>
                    </div>
                </form>
            </div>

            <th:block th:each="comment : ${comments}">
                <div style="    border: 1px solid #aeaeae;
    border-radius: 20px;
    padding: 15px 25px;
    margin: 20px 50px">
                    <div style="display:flex;">
                        <p th:text="${comment.getUser().getUsername()}"></p>
                        <p th:text="${comment.getDate()}"></p>
                    </div>
                    <p th:text="${comment.getMsg()}"></p>
                </div>
            </th:block>
        </div>


    </div>
</div>

<footer th:replace="base :: footer"></footer>
</body>
</html>