<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/js.js}"></script>
    <title>Spring Book</title>

</head>
<body class="body">
<header th:replace="base :: header">
</header>
<div class="container" style="background: white ; flex-grow: 1">


            <div class="center">
                <h1>Create Book</h1>
                <form action="/bookAdd" th:object="${book}" method="POST" enctype="multipart/form-data">
                    <table class="table-center">
                        <colgroup>
                            <col span="2" class="table-background-color">
                        </colgroup>

                        <tr>
                            <td>NAME</td>
                            <td><input type="text" th:field="*{name}" id="name" name="name"/></td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td><input type="text" th:field="*{author}" id="Author" name="Author"/></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td><input type="text" th:field="*{description}" id="description" name="description"/></td>
                        </tr>
                        <tr>
                            <td>Image</td>
                            <td>
                                <input type="file" th:field="*{image}" id="picture" name="pictureFile" accept="image/*"/>
                                <img id="blah" height="200px" src=""
                                     alt=""/>
                            </td>
                        </tr>
                    </table>





                    <p>
                        <label for="amount">Date range:</label>
                        <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" size="100"/>
                    </p>

                    <script>
                        $(function() {
                            $( "#slider-range" ).slider({
                                range: true,
                                min: new Date('1800.01.01').getTime() / 1000,
                                max: new Date('2019.01.01').getTime() / 1000,
                                step: 86400,
                                values: [ new Date('2013.01.01').getYear()/ 1000, new Date('2013.02.01').getTime() / 1000 ],
                                slide: function( event, ui ) {
                                    $( "#amount" ).val( (new Date(ui.values[ 0 ] *1000).toDateString() ) + " - " + (new Date(ui.values[ 1 ] *1000)).toDateString() );
                                }
                            });
                            $( "#amount" ).val( (new Date($( "#slider-range" ).slider( "values", 0 )*1000).toDateString()) +
                                " - " + (new Date($( "#slider-range" ).slider( "values", 1 )*1000)).toDateString());
                        });

                    </script>
                    <div id="slider-range"></div>
                    <p><select name="genre">
                        <option selected disabled>Select genre</option>
                        <th:block th:each="genre : ${genres}">
                            <option th:value="${genre.name()}" th:text="${genre.name()}"></option>
                        </th:block>
                    </select></p>

                    <input type="date" th:field="*{date}" id="date" name="date"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31">

                    <button class="button-center" type="submit">Finish</button>
                </form>
    </div>
</div>

<footer th:replace="base :: footer">
</footer>

</body>
</html>