<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">

    <title>Spring Book</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="body">
<header th:replace="base :: header"></header>
<div class="container" style="background: white; flex-grow: 1">


    <div class="mycontainer">
        <div class="inner-container">


        <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time"></label>
        </fieldset>

            <p th:text="'Hello, ' + ${name} + '!'"/>
            <p th:text="'Hello, ' + ${t} + '!'"/>
        </div>
    </div>
</div>

<footer th:replace="base :: footer"></footer>

</body>
</html>
