<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">
</head>
<body class="display-flex">
<header th:replace="base :: header">
</header>
<div class="container">
    <div class="inner-container">
        <h1>SIGN IN</h1>
        <form th:action="@{/login}" th:object="${user}" method="POST">
            <table class="table-center">
                <colgroup>
                    <col span="2" class="table-background-color">
                </colgroup>

                <tr>
                    <td>EMAIL</td>
                    <td><input type="email" th:field="*{email}" id="email" name="email"/></td>
                </tr>
                <tr>
                    <td>PASSWORD</td>
                    <td><input type="password" th:field="*{password}" id="password" name="password"/></td>
                </tr>
            </table>
            <button class="button-center" type="submit">Sign in</button>
        </form>
    </div>
</div>

<footer th:replace="base :: footer">
</footer>

</body>
</html>