<html>
<body style=" height: 100%;">
<header style="
 display: block;
  left: 0;
  bottom: 0;
  width: 100%;
 height: 100px;

    background: black">
</header>
<h1>REGISTRATION FORM</h1>
<form action="/submit" method="POST" enctype="utf8">
    <div>
        <label>ID</label>
        <input type="text" name="id" id="id"/>
    </div>
    <div>
        <label>NAME</label>
        <input type="text" id="name" name="name"/>
    </div>
    <button type="submit">submit</button>
</form>

<footer style="
background-color: black;
 position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;">
</footer>

</body>
</html>