<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">
</head>
<body class="body">
<header th:replace="base :: header"></header>
<div class="container">
    <img src="http://pngimg.com/uploads/book/book_PNG51088.png" class="mid-img">
    <div class="inner-container">
        <h1>SIGN UP</h1>
        <form th:action="@{/registration}" th:object="${user}" method="POST" enctype="utf8">
            <div style="margin: auto;">
                <div>
                    <p style="margin: 0" th:each="error: ${#fields.errors('name')}"
                       th:text="${error}">Validation error</p>
                    <label>NAME</label>
                    <input type="text" th:field="*{name}" id="name" name="name"/>
                </div>
                <div>
                    <p style="margin: 0" th:each="error : ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
                    <label>EMAIL</label>
                    <input type="email" th:field="*{email}" id="email" name="email"/>
                </div>
                <div>
                    <p style="margin: 0" th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                    <label>PASSWORD</label>
                    <input type="password" th:field="*{password}" id="password" name="password"/>
                </div>

                <div>
                    <p style="margin: 0" th:each="error : ${#fields.errors('matchingPassword')}"
                       th:text="${error}">Validation error</p>
                    <label>CONFIRM</label>

                    <input type="password" th:field="*{matchingPassword}"/>
                </div>
            </div>
            <button class="button-center" type="submit">Registration</button>
        </form>
    </div>
</div>

<footer th:replace="base :: footer"></footer>

</body>
</html>