<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/bootstrap/common.css}">
    <title>Spring Book</title>

</head>
<body class="body">
<header th:replace="base :: header"></header>

    <div class="mycontainer">
        <img src="../images/books.png" class="mid-img">

        <div class="inner-container">
            <h2 class="form-signin-heading">SIGN UP</h2>
            <form th:action="@{/submit}" class="form-signin" th:object="${user}" method="POST" enctype="utf8">
                <input class="form-control" style="margin-top: 10px" type="text" th:field="*{username}" id="username"
                       name="username" placeholder="USERNAME"/>
                <input class="form-control" style="margin-top: 10px" type="email" th:field="*{email}" id="email"
                       name="email" placeholder="EMAIL"/>
                <input type="password" style="margin-top: 10px" class="form-control ${status.error ? 'has-error' : ''}"
                       th:field="*{password}"
                       id="password" name="password" placeholder="PASSWORD"/>
                <button class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" type="submit">Registration
                </button>
            </form>
        </div>
    </div>

<footer th:replace="base :: footer">
</footer>

</body>
</html>