<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="base :: header"></header>
<table>
    <tr>
        <td th:text="${user.name}">...</td>
        <td th:text="${user.email}">...</td>
    </tr>
</table>

<form action="/bookAdd" method="GET" enctype="utf8">

    <button class="button-bookAdd" type="submit">bookAdd</button>
</form>
<footer th:replace="base :: footer"></footer>
</body>
</html>